In [1]:
import pandas as pd
from db import get_all_data

In [3]:
df = get_all_data()
df.head()

2023-05-14 16:05:15.604 | INFO     | db:db_connect:13 - Tentando conexão...
2023-05-14 16:05:15.606 | SUCCESS  | db:db_connect:22 - Conectado!
2023-05-14 16:05:15.607 | INFO     | db:get_all_data:67 - Buscando dados..
c:\users\thiago\documents\projetos\nameless\db.py:69: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql('SELECT * FROM stackQuestions', conn)

,id,Titulo,Autor,Respostas,Votos,Visitas,Link,Tag
0,1,Ajuda em listas para sistema de mercearia em P...,Thomás,0 respostas,-2 votos,13 visitas,https://pt.stackoverflow.com/questions/tagged/...,python
1,2,problema de logica com o textinput do kivy,Jonasmaxx,1 resposta,-1 votos,19 visitas,https://pt.stackoverflow.com/questions/tagged/...,python
2,3,"Dado um array de a por n elementos, imprima o ...",Thiago Cardozo,0 respostas,-4 votos,14 visitas,https://pt.stackoverflow.com/questions/tagged/...,python
3,4,Formulário Flask-WTF não é submetido,Gonssalves,0 respostas,-2 votos,5 visitas,https://pt.stackoverflow.com/questions/tagged/...,python
4,5,Django Python - Ao salvar um registro na tabel...,Ricardo Tarozo,0 respostas,-1 votos,23 visitas,https://pt.stackoverflow.com/questions/tagged/...,python

In [12]:
print(f'Dimensões{df.shape}')
print(f'Nome das colunas {df.columns.values.tolist()}')

Dimensões(16163, 8)
Nome das colunas ['id', 'Titulo', 'Autor', 'Respostas', 'Votos', 'Visitas', 'Link', 'Tag']

In [13]:
df.isnull().sum()

id           0
Titulo       0
Autor        0
Respostas    0
Votos        0
Visitas      0
Link         0
Tag          0
dtype: int64

In [27]:
tag_count = df.groupby('Tag').id.count().sort_values(by='id',ascending=False).reset_index()
tag_count

           Tag    id
4   javascript  6500
7       python  2200
0            c  1000
1          c++  1000
2           go  1000
3         java  1000
6          php  1000
11  typescript  1000
8         ruby   690
10       swift   497
5       kotlin   248
9         rust    28